<section class="user-list" aria-label="user list">
     <div class="animation-list_page">
          <div class="user-list-logout">
               <a class="user-list-link" href="#/loginPage"></a>
          </div>
          <h3 class="user-list_message"></h3>
     
          <!---- Modal  -->
               <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" hidden>
                    <div class="modal-dialog">
                         <div class="modal-content" aria-label="modal content">
                              <div class="modal-block_btn" aria-label="modal close" >
                                   <button type="button" name="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                              </div>
                              <div id="modal-root" class="modal-body">
                                   
                              </div>
                              <div class="modal-block_btn" id="isAuthorized_change-block" >
                                   <button type="button" name="confirm" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="confirm">Confirm</button>
                                   <button type="button" name="edit" class="btn btn-primary" aria-label="edit">Edit</button>
                              </div>
                         </div>
                    </div>
               </div>
          <table id="table" class="user-list__table"></table>  
     </div>
    
</section>